* {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-image: linear-gradient(rgb(194, 213, 255), rgb(151, 184, 255));
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 13px;
  box-sizing: border-box;
  height: max(597px, 100dvh);
}

svg {
  fill: black;
  height: 20px;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .15));
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.input-container {
  display: flex;
  align-items: center;
}

.FahCel-btn-container > button {
  background-color: #9fbaff;
  color: #232938;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 10px;
  border: 2px solid #8bacff;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, .05);
  margin-right: 40px;
  white-space: nowrap;
  transition: transform .2s;
}

.FahCel-btn-container > button:hover {
  transform: scale(1.05);
}


.weather-search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-container > input[type="text"] {
  padding-left: 7px;
  height: 23px;
  width: 40dvw;
  border-radius: 5px;
  font-size: .7rem;
  border: 1px solid #95b3ff;
  background-color: white;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .15);
}

.search-container > input[type="text"]:focus {
  outline: 0;
  outline: 2px solid #95b3ff;
}

.search-container > .search-btn {
  cursor: pointer;
}

.search-container > .search-btn > svg {
  position: absolute;
  top: 5px;
  right: 6px;
  height: 15px;
  fill: #c3d5ff;
  filter: none;
}

.weather-panel-container {
  display: flex;
  background-color: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  box-shadow: in  set 0 0 5px rgba(215, 227, 255, .3);
  padding: 10px;
  box-sizing: border-box;
}

.today-location-weather {
  background-image: linear-gradient(rgb(208, 222, 255), #9fbaff);
  padding: 0 20px;
  border: 2px solid #9fbaff;
  border-radius: 25px;
  box-shadow: 0 0 5px rgba(215, 227, 255, .3);
  flex: 1;
}

.location-heading {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  gap: 7px;
  font-size: 2rem;
  width: 100%;
}

.temp-conditionicon-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.temp-heading {
  font-size: 2.5rem;
}

.temp-conditionicon-heading > img {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, .15));
}

.weather-icon {
  height: 30px;
}

.condition-heading {
  display: flex;
  justify-content: center;
  margin: 0;
}

.minmax-temp-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.min-temp-container {
  display: flex;
  align-items: center;
}

.max-temp-container {
  display: flex;
  align-items: center;
}

.lowerpart-weather-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.lowerpart-weather-container > * {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.air-quality-container,
.uv-container,
.humidity-container,
.wind-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  margin: 10px;
}

.air-quality-container > *,
.uv-container > *,
.humidity-container > *,
.wind-container > * {
  font-weight: 500;
  margin: 5px;
}

.allForecast-location-weather {
  display: flex;
  background-image: linear-gradient(#EBF1FF, #bfd1ff);
  border: 2px solid #b1c7ff;
  border-radius: 25px;
  flex: 3;
  overflow-x: scroll;
  overflow-y: hidden;
}

.allForecast-location-weather::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
}


.allForecast-location-weather::-webkit-scrollbar-thumb {
  background-color: #95b3ff;
  border: 2px solid #5182ff;
  border-radius: 5px;
}


.forecast-location-weather {
  background-image: linear-gradient(#EBF1FF, #bfd1ff);
  border-right: 2px solid #b1c7ff;
  border-left: 2px solid #b1c7ff;
  width: 100%;
  padding: 20px;
}

.forecast-location-weather.first {
  border-right: 2px solid #b1c7ff;
  border-left: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.forecast-location-weather.last {
  border-left: 2px solid #b1c7ff;
  border-right: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.forecast-day-heading {
  display: flex;
  justify-content: center;
  margin: 0;
}

hr {
  border: 1px solid #000000;
}